#about{
    background-color: $background;
        h2{
            color: $primary;
        }
}

.aboutContainer{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
        .myInfo{
            width: 50%;
            margin-right: 50px;
        }
        .myPhoto{
            width: 50%;                
        }
}

.Photos{
    height: 500px;
    background-image: url('/assets/dianna.jpg');
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.Photos:hover{
    background-image: url('/assets/dianna-two.jpg');
}
