.about{
    background-color: $grape;
        h2{
            color: $secondary;
        }
}

.aboutContainer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
        .myInfo{
            width: 50%;

        }
        .myPhoto{
            display: flex;
            width: 50%;
                img{
                height: 400px;  
                margin: auto;
                border-radius: 10px;
                }   
        }
}

