.contactContainer{
    display: flex;
    margin-bottom: 50px;

    .contactText{
        width: 90%;
        text-align: center;
            a{
                color: $grape;
                font-size: 2rem;
                padding: 10px;
            }
            i{
                font-size: 2.4rem;
                padding: 30px;
            }
    }
    .contactText a:hover{
        color: $secondary;
    }
    
}
button:hover{
    background-image: linear-gradient(90deg, $peri, $secondary);
}