@media(max-width: 768px){
    .navUl{
        display: none;
        flex-direction: column;
        width: 100%;
        li{
            margin: 10px;
        }
    }

    .navUl.show{
        display: flex;
    }
    .hamburger{
        display: block;
    }

    .aboutContainer{
        flex-direction: column;
        .myInfo{
            width: 100%;
        }
        .myPhoto{
            width: 100%;
        }
    }

    .skillsIcon li{
        padding: 20px;
    }


    .allProjects{
        display: flex;
        flex-direction: column;
            .projectPhoto{
                width: 100%;
                margin-bottom: 10px;
            }
            .projectText{
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
                    .live, .repo{
                        margin-right: 20px;
                    }
            }
    }

    .allProjects:nth-child(3){
        flex-direction: column-reverse;

    }
    .allProjects:nth-child(5){
        flex-direction: column-reverse;

    }

    .contactContainer{
        flex-direction: column;
            .contactText{
                width: 100%;
                text-align: center;
                margin-bottom: 30px;
            }
            .formContainer{
                width: 100%;
                justify-content: center;
            }
    }


}
@media(max-width: 660px){
    .headerText h1{
        font-size: 2.5rem;
    }
    .typed p{
        font-size: 1.9rem;
    }
}
@media(max-width: 480px){
    #home{
        height: 30vh;
    }
    .headerText{
        padding-top: 100px;
        h1{
            font-size: 1.8rem;
            padding-top: 0px;
        }

        .typed p{
            font-size: 1rem;
        }

    }

    .contactMe{
        margin-bottom: 50px;
    }

    
    h2{
        font-size: 1.8rem;
    }

    .arrowBounce{
        display: none;
    }
    .skillsIcon li{
        padding: 14px;
    }

}