.navBar{
    flex-wrap: wrap;
}
.navUl{
    display: flex;
    justify-content: right;
    margin: 0;

    li{
        margin: 30px 15px 20px;
        font-size: 1.3rem;
        color: $primary;
    }
}

.navUl li a:hover, .navUl li a:focus{
    background-image: linear-gradient(90deg, $primary, $secondary);
    color: white;
    padding: 5px 10px;
    border-radius: 50px; 
    text-decoration-line: underline;
}
.menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}

.menuItem:hover {
    text-decoration: underline;
}
.hamburger{
    background-color: transparent;
    border: 0;
    display: none;
    color: $primary;
    font-size: 2.5rem;
    cursor: pointer;
    margin-top: 30px;
}

.hamburger:focus{
    outline: none;
}