#projects{
    background-color: $background;
    margin-top: 50px;
}


.allProjects{
    transform: translateX(400%);
    transition: transform 0.9s ease-in-out;
    display: flex;
        .projectPhoto{
            width: 50%;
            margin: 0 30px 60px 0;
            img{
                border-radius: 30px;
            }
        }

        .projectText{
            width: 50%;
            .live, .repo{
                border-radius: 50px; 
                padding: 10px 15px;
                background-color: $primary;
                color: white;
                border:none;
            }
        }
}

.allProjects:nth-of-type(even){
    transform: translateX(-400%)

}

.allProjects.show{
    transform: translateX(0);
}
