.skills{
    background-color: $background;
    h2{
        color: $primary;
    }
    .skillsIcon{
        display: flex;
        justify-content: space-between;
        text-align: center;
        color: $grape;
    }

    .skillsIcon li:hover{
        color: white;
    }
}
