// site fonts
$headingFont: 'Montserrat', sans-serif;
$bodyFont: 'Open Sans', sans-serif;

// root element font-size 125%
$baseFontSize: 1rem;

// site colours
$background: #F0E6EF;
$primary: #F0A6CA;
$secondary: #EFC3E6;
$grape: #9C89B8;
$peri: #B8BEDD;
